@import "tailwindcss";

@font-face {
  font-family: 'Reglo';
  src: url('/fonts/Reglo-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-mono: "IBM Plex Mono", monospace;
  --font-heading: "Reglo", sans-serif;
}

body {
  font-family: var(--font-mono);
  font-size: 20px;
  color: white;
}
