---

---

<!-- todo: get from Sanity -->
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <!-- this is optional -->
  <meta name="generator" content={Astro.generator} />

  <title>Seca Services LLC</title>
  <meta
    name="description"
    content="Automotive paint booth and shop services for the tri-state area, servicing on Saturday and Sunday to avoid interruption."
  />

  <!-- Open Graph tags -->
  <meta property="og:title" content="Seca Services LLC" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.secaservices.com/" />
  <meta
    property="og:description"
    content="Automotive paint booth and shop services for the tri-state area, servicing on Saturday and Sunday to avoid interruption."
  />
  <!-- <meta property="og:image" content="https://www.example.com/_astro/seo-banner.BZD7kegZ.webp" /> -->
  <!-- <meta property="og:image:alt" content="" /> -->
</head>
