---
import Container from "../atoms/Container.astro";
import Text from "../atoms/Text.astro";
const { text } = Astro.props;
---

<Container>
  <div
    class="text-3xl sm:text-4xl md:text-6xl lg:text-7xl xl:text-8xl font-mono leading-snug text-center max-w-[24ch] text-pretty"
  >
    <Text text={text} />
  </div>
</Container>
