---
import Container from "../atoms/Container.astro";
import Service from "../atoms/Service.astro";
const { services } = Astro.props;
---

<Container>
  <div class="flex flex-wrap gap-x-20 gap-y-12 justify-center items-center">
    {services.map((service: String) => <Service text={service} />)}
  </div>
</Container>
