---
import Container from "../atoms/Container.astro";
import Logo from "../../svgs/logo.svg";
---

<nav>
  <Container>
    <div class="pt-12 md:pt-20 flex justify-center">
      <a href="/" class="inline-block">
        <Logo class="h-10 sm:h-12 md:h-14 lg:h-16 fill-current text-white" />
      </a>
    </div>
  </Container>
</nav>
