---
import Logo from "../../svgs/logo.svg";
---

<nav class="py-12 flex justify-center">
  <a href="/" class="inline-block">
    <Logo class="h-8 sm:h-12 md:h-16 lg:h-20 fill-current text-white" />
  </a>
</nav>
